.contact {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: calc(100vh - 116px);
  }
  
  .contact h2 {
    width: 80%;
    margin: 5% 0;
  } 
  
  .contact form {
    width: 80%;
    margin-bottom: 5%;
  }
  
  .contact button{
    width: 80%;
  }

@media screen and (min-width: 850px){
  .contact form {
    width: 70%;
  }
  .contact button{
    width: 70%;
  } 
}

@media screen and (min-width: 990px){
  .contact form {
    width: 60%;
  }
  .contact button{
    width: 60%;
  }
}