.jokebox {
  height: calc(100vh - 116px);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jokebox h2{
  margin-bottom: 80px;
}

.jokebox a {
  width: 80%;
  margin-top: 1%;
  color: #192d52;
}

.jokebox button {
  width: 100%;
}

.jokebox .MuiGridListTile-tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jokebox .MuiGridList-root {
  padding-top: 1%;
  margin: 10%, 0 !important;
  width: 80%;
  height: 50%;
  text-align: center;
}

.jokebox.MuiGridList-root p {
  text-align: center;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

@media screen and (min-width: 850px){
  .jokebox .MuiGridList-root {
    width: 70%;
  }
  .jokebox a {
    width: 70%;
  }  
}

@media screen and (min-width: 990px){
  .jokebox .MuiGridList-root {
    width: 60%;
  }
  .jokebox a {
    width: 60%;
  } 
}
  