.home-link {
  text-decoration: none;
}

#navbarNav a{
  color: #192d52;
  font-family: 'Amatic SC';
  font-size: 30px;
}

.navbar-light .navbar-brand {
  color: #192d52 !important;
  font-size: 60px;
  font-family: 'Amatic SC';
}

.navbar-collapse ul{
  display: flex;
  flex-direction: row;
}

.navbar-collapse ul li{
    display: flex;
    justify-content: center;
    width: 33%;
  }


@media screen and (min-width: 990px){
  .navbar-collapse ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  
}
